.User{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

input {
  padding: 0 0.75rem;
  height: 2rem !important;
}


.text_input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 15rem;
  background-color: white !important;
}

.text_input:focus {
  background-color: white;
}

.Input{
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.UserLogIn{
  width: 40rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.UserInput{
  height: 1.5rem;
  font-size: 1rem;
  flex: 1;
  margin: 0.5rem 0rem;
}

.PassInput{
  height: 1.5rem;
  font-size: 1rem;
  flex: 1;
  margin: 0.5rem 0rem;
}

.Text{
  font-size: 1.5rem;
  margin: 0 !important;
  color: #FBFBFF;
}