.playlistCard {
  margin: 0rem 0rem 1rem 0rem;
  display: flex;
}

.playlistCard .votesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0rem 0rem 0rem 1rem;
}

.playlistCard .votesContainer h3{
 margin: 0rem;
}

.playlistCard .votesContainer .upDownButton{
  opacity: 0.6;
  height: 20px;
  width: 20px;
}

.playlistCard .votesContainer .upDownButton:hover{
  opacity: 1;
  cursor: pointer;
}