.Container{
    height: 4rem;
    width: 100%;
    padding: 0 7rem; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    vertical-align: 50%;
    background-color: #2A2644;
    box-sizing: border-box;
}

input {
    padding: 0 0.75rem;
    height: 2rem !important;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.LogoImg{
    width: 124.5px;
    height: 30.75px;
}

.Input{
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
}

.bookInput{
    width: 20rem;
    height: 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    margin-left: 1rem;
}

.User{
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.UserLogIn{
    width: 40rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.UserInput{
    width: 10rem;
    height: 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    margin-left: 1rem;
}

.PassInput{
    width: 10rem;
    height: 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1.25rem;
}

.Text{
    font-size: 1.5rem;
    margin: 0;
    color: #FBFBFF;
}

