.Container {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin: 3rem 0.5rem;
}

.LeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: space-between;
  padding: 0 0 0 2rem;
}

.text {
  margin-left: 1rem !important;
}

.rating {
  margin-top: 1rem;
}