.Container {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.LeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: center;
  padding: 0 0 0 2rem;
}
