.ContainerF{
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: 50%;
    background-color: #2A2644;
}

.Company{
    width: 15rem;
    height: 10rem;
}

.Contact{
    width: 20rem;
    height: 10rem;
}

@fontface {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

.Text{
    font-size: 1.5rem;
    margin-right: 0%;
    color: #FBFBFF;
}

.Text2{
    font-size: 1rem;
    margin-right: 0%;
    color: #FBFBFF;
}

.Bullets{
    position: relative;
    left: 1rem;
}

.Icon{
    width: 4rem;
    height: 3rem;
    position: relative;
    margin-left: 1rem;
}